chart-studio==1.1.0
communities==3.0.0
graphviz==0.20.3
jupyter-require==0.6.1
jupyterlab==4.3.5
jupyterlab_rise==0.43.1
matplotlib==3.10.0
matrepr==1.0.1
nbconvert==7.16.6
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3
pandoc==2.4
scipy==1.15.1
